body
{
  margin: 0;
  text-align:center;
  font-family: 'Varela Round', sans-serif;
  background-color:#EEEEEE;
}
h2
{
  color: #5C7AEA;
}
h3
{
  color: #5C7AEA;
}
h1
{
  margin-top: 0px;
  margin-left: 0;
  margin-right: 0;
  font-size: 3.125rem;
  padding-top: 4.688rem;
  position:relative;
  font-family: 'Sacramento', cursive;
  color: #14279B;
}
.gamer
{
  font-family: 'Fredoka One', cursive;
  font-size: 1.25rem;
  color: #5C7AEA;
  
}
.head
{
  background-color:#D7E9F7;
  position: relative;
}
.p1
{
  position:relative;
  margin-top: 2rem;
  left: 17.5rem;
  height: 3.125rem;
  width: 3.125rem;
}

.p2
{
  position: relative;
  right: 20rem;
  height: 3.125rem;
  width: 3.125rem;

}
.p3
{
  position: relative;
  height: 12rem;
  width: 12rem;

}
.profile
{
  height: 50%;
  width: 50%;
  margin: auto;
  padding-top: 100px;
}
.desc
{
  line-height:2;
}

.me
{
  height: 25%;
  width: 25%;
}
.ux
{
  width:25%;
  float:left;
  margin-right:40px;
}
.linux
{
  width:25%;
  float:right;
  margin-left:30px;
}
.skills
{
  padding-top: 50px;
}
.skill-row1
{
  height: 50%;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height:2;
}
.skill-row2
{
  height: 50%;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height:2;
}

.contact-me
{
  padding-top: 50px;
  padding-bottom:30px;
  height: 50%;
  width: 50%;
  margin: auto;
  text-align: center;
  line-height:2;
}
.con
{
  height:25%;
  width: 25%;
}


hr{
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border-style: none;
  border-top-style: dotted; 
  border-color: grey;
  border-width: 2px;
  opacity: 0.5;
}

.bottom-container
{
  background-color:#A8D8EA;
  padding-top: 40px;
  padding-bottom: 20px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}
.footer-link
{
  color: #04009A;
  text-decoration:none;
  font-weight:bold;
  line-height:2;
  margin: 10px 10px;
  
}
.footer-link:hover
{
  color:white;
}

.cop
{
  color: white;
  font-weight:bold;
  padding:20px 0;
}
